.calls {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: left;
  padding-left: 0.7em;
  color: var(--font-color);
  background-color: var(--background-content);
}

.calls img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.calls .data {
  margin-left: 15px;
}

.calls .data h5 {
  margin: 0%;
}

.calls .data p {
  margin: 0%;
  font-size: 10px;
  color: rgb(175, 175, 175);
}

.data p {
  font-size: 0.5em;
}

.call-phn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 17px;
  color: white;
  padding: 10px;
  background-color: #00bfa5;
  border-radius: 50%;
}

.color-red {
  color: rgb(255, 65, 65);
  font-size: 10px;
  font-weight: 500;
}
.color-green {
  font-size: 10px;
  font-weight: 500;
  color: #00bfa5;
}

.cal-icon {
  margin-right: 10px;
  margin-left: auto;
  color: #00bfa5;
}
