.camera {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-color: #fcfcfc;
  box-shadow: inset 0.2em 0.15em #2e2e2e;
  position: relative;
  left: 0.8em;
}
