.overlay {
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -100%);
  width: 17.5em;
  height: calc(34em - 5.4em);
  background-color: rgb(0, 0, 0, 0.7);
}
.popup {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 230px;
  width: 200px;
  background-color: white;
}

.popup p {
  position: absolute;
  top: -8%;
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
}

.popup img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.popup .footer {
  margin-top: -5px;
  position: relative;
  height: 30px;
  background-color: var(--background-info);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.hidden {
  display: none;
}
