.info {
  background-color: var(--background-info);
  color: var(--font-color);
  display: flex;
  font-size: 0.7em;
  align-items: center;
  justify-content: end;
  padding-right: 1em;
}

.info .time {
  margin-right: auto;
  padding-left: 0.2em;
}

.info .item {
  padding-left: 0.4em;
}
