.sencer {
  height: 0.2em;
  width: 0.2em;
  position: relative;
  left: 0.4em;
  border: 1px solid black;
  background-color: rgb(110, 33, 33);
  box-shadow: inset 0.05em 0.05em #000000;
  border-radius: 50%;
}
