body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e179d0;
  background: -webkit-radial-gradient(bottom, #e179d0, #241ec3);
  background: -moz-radial-gradient(bottom, #e179d0, #241ec3);
  background: radial-gradient(to top, #e179d0, #241ec3);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
